<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/output.css" />
    <title>Componente Button</title>
  </head>
  <body>
    <div class="container mx-auto px-4 py-8 w-8/12 space-x-10">
      <h6 class="dark:text-gray-50 font-bold mb-2">Componente Button</h6>
      <button
        class="text-sm bg-blue-500 hover:bg-blue-600 transition-colors duration-300 px-4 py-1 rounded text-white shadow"
      >
        Save
      </button>
      <button
        class="text-base bg-blue-500 hover:bg-blue-600 transition-colors duration-300 px-6 py-2 rounded text-white shadow"
      >
        Save
      </button>
      <button
        class="text-md bg-blue-500 hover:bg-blue-600 transition-colors duration-300 px-8 py-3 rounded text-white shadow"
      >
        Save
      </button>
    </div>
  </body>
</html>
