<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componente Card</title>
    <link rel="stylesheet" href="../dist/output.css" />
  </head>
  <body class="bg-gray-50 dark:bg-gray-800">
    <div class="container mx-auto px-4 py-8 w-8/12">
      <h6 class="dark:text-gray-50 font-bold mb-2">Componente Card</h6>

      <div
        class="bg-white dark:bg-gray-700 rounded-lg shadow-md overflow-hidden"
      >
        <div
          class="w-full bg-gray-100 dark:bg-gray-900 p-4 border-b border-gray-200 dark:border-gray-500"
        >
          <h4 class="font-bold dark:text-gray-50">Topo</h4>
        </div>

        <p class="p-4 bg-gray-50 dark:text-gray-50 dark:">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sint
          iusto hic explicabo deserunt? Quas assumenda necessitatibus eligendi
          excepturi accusamus ratione porro eveniet, velit quia voluptatem culpa
          totam natus facere!
        </p>

        <div
          class="w-full dark:text-gray-50 bg-gray-50 dark:bg-gray-900 p-4 border-t border-gray-100"
        >
          Rodapé
        </div>
      </div>
    </div>
  </body>
</html>
