<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/output.css" />
    <title>Componente Dropdown</title>
  </head>
  <body>
    <div class="container mx-auto px-4 py-8 w-8/12 space-x-10">
      <div class="relative">
        <h6 class="dark:text-gray-50 font-bold mb-2">Componente Dropdown</h6>
        <div>
          <button
            class="text-base border border-gray-300 px-6 py-2 rounded shadow"
          >
            Botão
          </button>
          <div
            class="bg-white border border-gray-200 py-1 shadow-md rounded-md absolute"
            style="width: 200px"
          >
            <a
              href=""
              class="block w-full text-sm text-gray-500 px-3 py-2 bg-white hover:bg-gray-300"
            >
              Link 1
            </a>
            <a
              href=""
              class="block w-full text-sm text-gray-500 px-3 py-2 bg-white hover:bg-gray-300"
            >
              Link 2
            </a>
            <a
              href=""
              class="block w-full text-sm text-gray-500 px-3 py-2 bg-white hover:bg-gray-300"
            >
              Link 3
            </a>
            <a
              href=""
              class="block w-full text-sm text-gray-500 px-3 py-2 bg-white hover:bg-gray-300"
            >
              Link 4
            </a>
            <a
              href=""
              class="block w-full text-sm text-gray-500 px-3 py-2 bg-white hover:bg-gray-300"
            >
              Link 5
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
