<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/output.css" />
    <title>Componente Input</title>
  </head>
  <body>
    <div class="container mx-auto px-4 py-8 w-8/12 space-x-10">
      <h6 class="dark:text-gray-50 font-bold mb-2">Componente Input</h6>
      <div class="space-y-2 flex flex-col">
        <input
          type="text"
          class="w-2/6 bg-gray-50 border border-gray-300 focus:border-blue-500 rounded-full p-2 text-sm text-gray-800 placeholder-gray-300 outline-none"
          placeholder="Digite seu nome"
        />
        <input
          type="text"
          class="w-2/6 bg-gray-50 border border-gray-300 focus:border-blue-500 rounded-full p-2 text-md text-gray-800 placeholder-gray-300 outline-none"
          placeholder="Digite seu nome"
        />
        <input
          type="text"
          class="w-2/6 bg-gray-50 border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-20 rounded-full p-2 text-xl text-gray-800 placeholder-gray-300 outline-none"
          placeholder="Digite seu nome"
        />
        <input
          type="text"
          class="w-2/6 bg-gray-50 border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-20 rounded-full p-2 text-xl text-gray-800 placeholder-gray-300 outline-none transition duration-500 ease-in-out"
          placeholder="Digite seu nome com transition"
        />
      </div>
    </div>
  </body>
</html>
